
@{
    Layout = null;
    if (Session["userId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    string[] TableHead = new string[] {"UserId"
          ,"Emer"
          ,"Mbiemer"
          ,"Mosha"
          ,"Depoziton"};
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <style>
        * {
            font-family: Arial;
        }
    </style>
</head>
<body>
    <div> 
        <h1>Dashboard</h1>
        <h3>Username: @Session["username"].ToString()</h3>
        <h3>Ti je nje: @Session["userType"].ToString()</h3>
        <a href="@Url.Action("LogOut", "Login")">LogOut</a>
    </div>
    <div class="table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        foreach (var head in TableHead)
                        {
                            <th>
                                @head
                            </th>
                        }
                    }

                </tr>
            </thead>

            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var Data in Model)
                        {
                            <tr>
                                <td>@Data.UserId</td>
                                <td>@Data.Emer</td>
                                <td>@Data.Mbiemer</td>
                                <td>@Data.Mosha</td>
                                <td>@Data.Depoziton</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
